body{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #EEEEEE;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin: auto;
}

header{
    display: flex;
    flex-direction: row;
    background-color: lightblue;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#baner{
    background-color: #DDDDDD;
    height: 200px;
}

main{
    color: navy;
    margin: 50px;
    height: 400px;
}

footer{
    text-align: right;
    padding: 10px;
    background-color: lightblue;
}

button{
    background-color: lightblue;
    color: navy;
}

nav{
    color: navy;
    font-size: 150%;
    text-decoration: none;
    font-weight: solid;
    margin: 10px;
    padding: 5px;
    width: 50%;
    text-align: right;
}

nav a:hover{
    border: solid 1px navy;
}

#logo{
    width: 50%;
}